.header
  .header__left_box
    %p= @group.name
    .header__left_box__member
      Member:
      - @group.users.each do |user|
        = user.name
    .header__edit_btn
      = link_to "Edit", edit_group_path(@group), class:"right-header__button"
  .messages
    = render @messages

.chat_main   
  
  .chat_main__footer  
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .chat_main__footer__form
        .chat_main__footer__form__comment
          
      .chat_main__footer__image
      = f.label :image, class: 'form__select' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
          
      .chat_main__footer__send_btn
        = f.submit 'Send', class: 'form__submit'
  