.side_bar
  .side_bar__header
    .side_bar__header__item_box
      %h3.side_bar__header__item_box__name
        = current_user.name
      .side_bar__header__item_box__icons
        .side_bar__header__item_box__icons__new-group
        = link_to new_group_path, class: "border" do
          = icon('fas','edit') 
        .side_bar__header__item_box__icons__edit-user
        = link_to edit_user_path(current_user), class: "border" do
          = icon('fas', 'cog', class: 'icon')


  .groups
    - current_user.groups.each do |group|
      .group
      = link_to group_messages_path(group) do
        .group__name
          = group.name
        .group__message
          = group.show_last_message





